<div id="detail" title="Detail"  shown="true">
  <dl>
    <dt>hash</dt>
    <dd><span ng-if="block.hash==undefined">Loading...</span>{{block.hash | hashtruncat}}</dd>
    <dt>index</dt>
    <dd><span ng-if="block.block_index==undefined">Loading...</span>{{block.block_index}}</dd>
    <dt>height</dt>
    <dd><span ng-if="block.height==undefined">Loading...</span>{{block.height}}</dd>
    <dt>time</dt>
    <dd><span ng-if="block.time==undefined">Loading...</span>{{block.time*1000 | date:'short'}}</dd>
    <dt>fee</dt>
    <dd><span ng-if="block.fee==undefined">Loading...</span>{{block.fee}}</dd>
    <dt>IP</dt>
    <dd><span ng-if="block.relayed_by==undefined">Loading...</span>{{block.relayed_by}}</dd>
    <dt># of tx</dt>
    <dd><span ng-if="block.n_tx==undefined">Loading...</span>{{block.n_tx}}</dd>
  </dl>
  <ul id="txs">
    <li ng:repeat="tx in block.tx"><a href="#/tx/{{tx.hash}}">size: {{tx.size}} in: {{tx.inputs.length}} out: {{tx.out.length}}</a></li>
  </ul>
</div>
