<div id="tx-detail" title="Tx Detail" shown="true">
  <dl>
    <dt>hash</dt>
    <dd><span ng-if="tx.hash==undefined">Loading...</span>{{tx.hash | hashtruncat}}</dd>
    <dt>index</dt>
    <dd><span ng-if="tx.tx_index==undefined">Loading...</span>{{tx.tx_index}}</dd>
    <dt>time</dt>
    <dd><span ng-if="tx.time==undefined">Loading...</span>{{tx.time*1000 | date:'short'}}</dd>
  </dl>
  <h2>inputs</h2>
  <ul class="inputs">
    <li ng:repeat="inp in tx.inputs"><a class="double_line" href="#/addr/{{inp.prev_out.addr}}">
<span class="btc">{{inp.prev_out.value * .00000001| number}} BTC</span><br/>
<span ng-if="inp.prev_out.addr_tag!==undefined">{{inp.prev_out.addr_tag}}<br/></span>
<span class='addressellipse'>{{inp.prev_out.addr | hashtruncat}}</span>
</a></li>
  </ul>
  <h2>outputs</h2>
  <ul class="outputs">
    <li ng:repeat="out in tx.out"><a class"double_line" href="#/addr/{{out.addr}}">
<span class="btc">{{out.value * .00000001| number}} BTC<br/></span>
<span ng-if="out.addr_tag!==undefined">{{out.addr_tag}}<br/></span>
<span class='addressellipse'>{{out.addr | hashtruncat}}</span>
</a></li>
  </ul>
</div>
